* {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

/*---Header---*/
header {
    left: 0;
    right: 0;
    position: fixed;
}

.header_container_general {
    max-width: 1255px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-size: 18px;
}

.container_cross {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 15px;
}

.container_name {
    display: flex;
    align-items: center;
    z-index: 2;
}

.container_name .cn_redirect_home {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
}

.container_pages span {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.container_pages span:nth-child(3) {
    margin: 0;
    padding: 0;
    border: none;
}

header,
.container_home {
    background-color: black;
    padding: 0 15px;
}

.container_burger {
    display: none;
}

.container_burger i,
.container_cross i {
    font-size: 35px;
}

.container_header_mobile_general {
    display: none;
}

.container_header_mobile_general.show {
    display: block;
}

.container_header_mobile_general {
    color: #fff;
    background-color: #000000d4;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: max-content;
    border-bottom: 2px solid #20ce88;
}

.container_pages_mobile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20%;
    line-height: 95px;
}

.container_pages span:nth-child(2) a {
    color: #20ce88;
}

@media only screen and (max-width: 768px) {
    .container_burger {
        display: block;
    }

    .container_pages {
        display: none;
    }
}


/*---End - Header---*/


/*--FOOTER--*/

footer,
.container_home {
    background-color: black;
    padding: 0 15px;
}

.footer_container,
.footer_container .container_social_media,
.footer_container .footer_R {
    color: #fff;
    font-size: 18px;
    font-family: serif;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    max-width: 1255px;
    margin: 0 auto;
    padding: 85px 0;
    align-items: center;
    border-top: 1px solid #20ce88;
}

.footer_container .container_social_media,
.footer_container .footer_R {
    font-size: 14px;
    font-family: serif;
}

.container_social_media a i {
    font-size: 35px;
}

/*--END FOOTER--*/


/*---Section---*/


/*---End Section---*/